mixin nav-menu
	nav.menu
		ul.menu__list 
			li.menu__item 
				a.menu__link--bold(href="#") О нас
			li.menu__item
				a.menu__link.has-submenu(href="#") Услуги
			li.menu__item 
				a.menu__link(href="#") Вакансии
			li.menu__item 
				a.menu__link(href="#") Новости
			li.menu__item 
				a.menu__link.has-submenu(href="#") Соглашения