mixin media-icons 
	.icon-bar
		.icon-bar__item
			a(class="fab fa-twitter" href="#")
		.icon-bar__item
			a(class="fab fa-facebook-square" href="#")
		.icon-bar__item
			a(class="fab fa-instagram" href="#")