include ../logo/logo
include ../input/input

mixin add_footer_menu(header, items)
	.menu-ext__column-header #{header}
	ul.menu-ext__list
		each item in items 
			li.menu-ext__list-item 
				a.menu-ext__link(href="#") #{item}

mixin menu-ext
	.menu-ext
		.menu-ext__corner-column 
			.menu-ext__corner-column--left 
				.menu-ext__logo 
					+logo
				.menu-ext__text 
					p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		.menu-ext__central-column
			.menu-ext__central-column--nav
				+add_footer_menu("навигация", ["О нас", "Новости", "Служба поддержки", "Услуги"])
		.menu-ext__central-column
			.menu-ext__central-column--about 
				+add_footer_menu("о нас", ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"])
		.menu-ext__central-column
			.menu-ext__central-column--helpdesk
				+add_footer_menu("служба поддержки", ["Соглашения", "Сообщества", "Связь с нами"])
		.menu-ext__corner-column
			.menu-ext__corner-column--subscribe
				.menu-ext__column-header подписка
				.menu-ext__text
					p Получайте специальные предложения и новости сервиса
				.menu-ext__input
					+input
				