include ../modules/header/header
include ../modules/footer/footer
include ../modules/copyright/copyright
include ../modules/footer-creative/footer-creative
include ../modules/text-field/text-field
include ../modules/radio-button/radio-button

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="fontawesome.css")
		title Document
	body 
		+header(false)
		+footer
		+copyright
		+footer-creative 
		+text-field("ololo", "ololo")
		+radio-button("id1", "name1", "ololo", true)

