include ../modules/header/header
include ../modules/footer/footer
include ../modules/copyright/copyright
include ../modules/footer-creative/footer-creative
include ../modules/text-field/text-field
include ../modules/radio-button/radio-button
include ../modules/toggle-button/toggle-button
include ../modules/form-reg/form-reg
include ../modules/button/button
include ../modules/form-enter/form-enter
include ../modules/like-button/like-button
include ../modules/rate-button/rate-button
include ../modules/checkbox-button/checkbox-button

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="fontawesome.css")
		//- link(rel="stylesheet", href="daterangepicker.css")
		//- <script type="text/javascript" src="daterangepicker.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		//- <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		//- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		//- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		link(href="dist/css/datepicker.min.css", rel="stylesheet", type="text/css")
		<script src="dist/js/datepicker.min.js"></script>
		title Document
	body 
		+header(false)
		+footer
		+copyright
		+footer-creative 
		+text-field("ololo", "ololo")
		+radio-button("id1", "name1", "ololo", true)
		+radio-button("id2", "name1", "ololo2", false)
		+toggle-button
		+form-reg
		+form-enter
		//- +text-field("datepicker-here", "datepicker-here", "datepicker-here")
		//- +text-field("search_checkout", "search_checkout", "search_checkout")
		//- script
		//- 	include script.js
		//- input(type='text' id="ololo2")
		//- script
		//- 	include script1.js
		//- +like-button
		+rate-button(3)
		+checkbox-button("id5", "name5", "Можно пригласить гостей (до 10 человек)", false)
		+checkbox-button("id6", "name5", "Можно пригласить гостей (до 10 человек)", false)
		+checkbox-button("id7", "name5", "Можно пригласить гостей (до 10 человек)", false)
