include ../logo/logo
include ../copyright/copyright
include ../media-icons/media-icons

mixin footer-creative 
	.footer-creative
		.footer-creative-content 
			.footer-creative-content__logo
				+logo 
			p.copyright__text Copyright &copy 2018 Toxin отель. Все права защищены.
			.footer-creative-content__icons
				+media-icons