mixin button(submit, text, mod, link)
	.button-common
		if submit == true
			button(type='submit' class='button__common button__common--' + mod) #{text}
		else 
			a(class='button__common button__common--' + mod href=link) #{text}